<html>
    <head>
        <link rel="stylesheet" href="/css/tictactoe.css"></link>
        <script src="/js/jquery-3.3.1.min.js" type="text/javascript"></script>
        <script src="/js/tictactoe.js" type="text/javascript"></script>
    </head>
    <body>
        {% if name %}
            <p>Hello {{name}} {{date}}</p>
            <p id="winner"></p>
            <div class="tictacbox">
                <div class="square" id="1" onclick="$(this).text('X'); make_move(1); $(this).off('click');"> </div>
                <div class="vertline"></div>
                <div class="square" id="2" onclick="$(this).text('X'); make_move(2); $(this).off('click')"> </div>
                <div class="vertline"></div>
                <div class="square" id="3" onclick="$(this).text('X'); make_move(3); $(this).off('click')"> </div>
                <br>
                <div class="horzline"></div>
                <br>
                <div class="square" id="4" onclick="$(this).text('X'); make_move(4); $(this).off('click')"> </div>
                <div class="vertline"></div>
                <div class="square" id="5" onclick="$(this).text('X'); make_move(5); $(this).off('click')"> </div>
                <div class="vertline"></div>
                <div class="square" id="6" onclick="$(this).text('X'); make_move(6); $(this).off('click')"> </div>
                <br>
                <div class="horzline"></div>
                <br>
                <div class="square" id="7" onclick="$(this).text('X'); make_move(7); $(this).off('click')"> </div>
                <div class="vertline"></div>
                <div class="square" id="8" onclick="$(this).text('X'); make_move(8); $(this).off('click')"> </div>
                <div class="vertline"></div>
                <div class="square" id="9" onclick="$(this).text('X'); make_move(9); $(this).off('click')"> </div>
            </div>
        {% else %}
            <form action="/ttt" method="post">
                your name:
                <input type="text" name="name">
                <input type="submit" value="Submit">
            </form>
        {% endif %}
    </body>
</html>